.topbar {
    
 display: flex;
 
 
 /* margin-left: 38vh; */
 
 }
.topbar2 {
   
    display: flex;
    /* margin-right: 2vh; */
    
  
   
   
 }

 
 .headingMap{
    /* position: absolute; */
    top: 110px;
    left:0vh
   
 }

 .text{
   width: 200px;
   top:0;
   
 }
 .input-field{
   position: absolute;
   outline:transparent;
   width :130px;
    top: 100px;
    margin-left: -50px;

   
    
 }
 
 .searchicon{
  
   position: absolute;
   
   
    top: 115px;
    margin-left: 30vh;
  
     
    
 }
   .add{
      position: absolute;
   margin-left: 50vh;
   outline:transparent;
    top: 100px;

   }
   .FilterListIcon{
      position: absolute;
   margin-left: 40vh;
   outline:transparent;
    top: 85px;
   }