.topbar {
    
 display: flex;
 
 margin-left: 38vh;
 
 }
.topbar2 {
   
    display: flex;
    margin-right: 2vh;
  
   
    
    
   
 }
 .headingMap{
    position: absolute;
    top: 110px;
 }

 .text{
   width: 200px;
   
 }
 .input-field{
   position: absolute;
   outline:transparent;
   width :150px;
    top: 80px;
    margin-left: 250px;
 }
 
 .searchicon{
   position: absolute;
   margin-left: 210px;
   outline:transparent;
    top: 100px;
 }
   .add{
      position: absolute;
   margin-left: 140vh;
   outline:transparent;
    top: 100px;

   }
   .FilterListIcon{
      position: absolute;
   margin-left: 130vh;
   outline:transparent;
    top: 85px;
   }