
.item1 { grid-area: header;}
.item2 {  }
.item3 {  }
.item4{  }
.item4 { }
.item5 {grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  /* gap: 10px; */
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  /* padding: 20px 0; */
  /* margin-top: 50px; */
 
}

.grid-container > .item4 {

    margin-left: 95vh;
    margin-top: 65px;

    
 
 
}
.headingMap{
  padding-top: 20px;
  
 
}
.grid-container > .item5 {

    margin-left: 37vh;
    width: 28%;
   
   
    
    
    
}
.grid-container > .item5 > {

    margin-left: 37vh;
     
    
}
